$theme-color: linear-gradient(to bottom, #30434e, #2a4147);
@mixin borders($amount) {
  border-radius: $amount;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin setDieminsions($width, $height) {
  width: $width;
  height: $height;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #f3f2f3;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2330434e' fill-opacity='0.98'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  min-width: 345px;
  min-height: 500px;
  @include borders(20px);
  border: 5px solid #1e2b31;
  padding: 1rem;
  &__container {
    width: 90%;
    margin: 0 auto;
  }
  &__gradientColor {
    width: 100%;
    height: 200px;
    background-image: $theme-color;
    @include borders(20px);
  }
  &__options {
    @include flexCenter;
    justify-content: space-between;
  }
  &__cssCode__text {
    @include setDieminsions(280px, 120px);
    margin-top: 0.5rem;
  }
}

.box__options {
  & div {
    @include setDieminsions(100px, 100px);
    margin-top: 1rem;
  }
  & select {
    position: relative;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: 0;
    border: none;
    background-image: $theme-color;
    @include setDieminsions(140px, 40px);
    @include borders(20px);
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    option:not(:checked) {
      color: #bdbdbd;
    }
  }
  &__colors__color {
    -webkit-appearance: none;
    -moz-appearance: none;
    @include borders(50%);
    @include setDieminsions(40px, 40px);
    border: none;
    outline: none;
    margin-top: 20px;
  }
  &__colors__color::-moz-color-swatch {
    @include borders(50%);
  }
  &__colors__color::-webkit-color-swatch {
    @include borders(50%);
    border: none;
  }
}

.box__btns {
  @include flexCenter;
  justify-content: space-between;
  margin: 1rem 0;
  button {
    all: unset;
    color: white;
    background-image: $theme-color;
    @include setDieminsions(125px, 40px);
    @include borders(15px);
    text-align: center;
    font-weight: 700;
    @include flexCenter;
    &:active {
      background-image: linear-gradient(to bottom, #54575a, #6c797d);
    }
  }
}

img {
  @include setDieminsions(20px, 20px);
  margin-left: 5px;
}
